<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>OtherBanksController</servlet-name>
        <servlet-class>BankManagement.OtherBanksController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BranchController</servlet-name>
        <servlet-class>BankManagement.BranchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadBankDetail</servlet-name>
        <servlet-class>BankManagement.LoadBankDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadBranchDetails</servlet-name>
        <servlet-class>BankManagement.LoadBranchDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBankDetails</servlet-name>
        <servlet-class>BankManagement.UpdateBankDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>BankManagement.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadService</servlet-name>
        <servlet-class>BankManagement.LoadService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadServices</servlet-name>
        <servlet-class>BankManagement.LoadServices</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddService</servlet-name>
        <servlet-class>BankManagement.AddService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateService</servlet-name>
        <servlet-class>BankManagement.UpdateService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>BankManagement.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadDetails</servlet-name>
        <servlet-class>BankManagement.LoadDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteService</servlet-name>
        <servlet-class>BankManagement.DeleteService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDetails</servlet-name>
        <servlet-class>BankManagement.UpdateDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateServlet</servlet-name>
        <servlet-class>BankManagement.ValidateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OtherBanksController</servlet-name>
        <url-pattern>/OtherBanksController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BranchController</servlet-name>
        <url-pattern>/BranchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadBankDetail</servlet-name>
        <url-pattern>/LoadBankDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadBranchDetails</servlet-name>
        <url-pattern>/LoadBranchDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBankDetails</servlet-name>
        <url-pattern>/UpdateBankDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadService</servlet-name>
        <url-pattern>/LoadService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadServices</servlet-name>
        <url-pattern>/LoadServices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddService</servlet-name>
        <url-pattern>/AddService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateService</servlet-name>
        <url-pattern>/UpdateService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadDetails</servlet-name>
        <url-pattern>/LoadDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteService</servlet-name>
        <url-pattern>/DeleteService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDetails</servlet-name>
        <url-pattern>/UpdateDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateServlet</servlet-name>
        <url-pattern>/ValidateServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
